<!DOCTYPE html>
<html>
<head>
    <title>METIFY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
      <div class="middle-background">
      </div>
        <div class="navbar">
          <img src="{{ url_for('static', filename='2.png') }}" class="logo">
          <ul>
            <li><a href="/quiz">QUIZY</a></li>
            <li><a href="/recommend">RECOMMEND</a></li>
            <li><a href="/insights">INSIGHTS</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>
    </div>

    <div class="content">
        <div class="left-col">
            {% if not session.access_token %}
                <a href="/login" class="login-btn">LOGIN WITH SPOTIFY</a>
            {% else %}
                <a href="/logout" class="logout-btn">LOGOUT</a>
            {% endif %}
        </div>
        <div class="right-col">

        </div>
    </div>
</body>
</html>
