<!DOCTYPE html>
<html>
<head>
    <title>Music Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz1.css') }}">
</head>
<body>
    <h1>Music Quiz</h1>
    <div class="quiz-container">
        <form action="{{ url_for('quiz') }}" method="POST">
            {% for question in questions %}
            <h3>{{ question['question'] }}</h3>
            <ul>
                {% for option in question['options'] %}
                <li>
                    <input type="radio" id="{{ loop.index0 }}" value="{{ loop.index0 }}">
                    <label for="{{ loop.index0 }}">{{ option }}</label>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

